<div class="post">
  <h2 class="title">Business-Winner only @ 15000 INR (300 USD)</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p>Excellent online business development training.</p>
        <p><b>Benefits:</b></p>
        <ol>
        <li>Increase the sale of your product or service in market.</li>
        <li>Increase your product , service, Brand value in market.</li>
        <li>capture more market within a short period</li>
        <li>ready to face any strategy of big player</li>
        <li>how to develop leadership skill , marketing and advertising strategies.</li>
        <li>how to boost your economy.</li>
        <li>Increase percentage of profit ratio.</li>
        </ol>
    <p><a href="/contact?service=Business+Winner">Contact us</a> in case you want to register for Business-Winner</p>
  </div>
</div>