<div class="post">
  <h2 class="title">Digital-Advertising & solutions</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <img src>
    <p> Digital Markeying advertising by new strategies.</p>
        <p><b>Benefits:</b></p>
        <ol>
        <li></li>
        <li>Increase your products ir services, Brand value in market.</li>
        <li>capture more market within a short period</li>
        <li>Increase the sale of your products or services in market. </li>
        <li>New marketing and advertising strategies</li>
        <li>To attract more customers</li>
        <li>On Google, You Tube, Facebook, Twitter, Instagram, etc..</li>
        </ol> 1) Basic- 300 usd/month  2) Premimum - 600 usd/month 3) Ex. premimum - 1000 usd/month
    <p><a href="/contact?service=Digital+Advertising & solutions">Contact us</a> in paid Digital-Advertising & solutions</p>
 
  
  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/K234_SxK57Q"  
  
  </div> 
</div>
