<div class="post">
  <h2 class="title">Mini Preneurs</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">

    <img src="/images/mini_pren.jpg">
    
    <h3>Advantages</h3><br>
      <ol>
      <li>Only 200 sq.ft. space is required to start & operate.</li>
      <li>New business method</li>
      <li>Business have no boundries</li>
      <li>Applied to each and every sectors.</li>
      <li>Tremandous scope and future.</li>
      <li>For more details please take paid online consultation.</li>
      </ol>
      <p> 1)Digital India opportunities, 2)smart city opportunities.</p>
    <p><a href="contact.jsp?service=Mini+Preneurs">Contact us</a> in case you need any help in Mini Preneurs.</p>
  </div>
</div>
