<div class="post">
  <h2 class="title">Mini Preneurs</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">

    <img src="/images/mini_pren.jpg">
    
    <h3>New Franchise Opportunities</h3><br>
      <ol>
      <li>Business Service Franchise</li>
      <li>Education & Training Franchise</li>
      <li>Entertainment Franchise</li>
      <li>Fitness Center Franchise</li>
      <li>Food & Beverages Franchise</li>
      <li>Etc.</li>
      </ol>
      <p> with new business model</p>
    <p><a href="contact.jsp?service=Mini+Preneurs">Contact us</a> in case you need any help in Mini Preneurs.</p>
    
    
    
    
                           <div class="entry">
                             
                           
                           Marketing-
                         <img src="http://i67.tinypic.com/sebtpc.jpg"align="left" height="48" width="48">
                                   
                                               
  </div>
</div>
