<div class="post">
  <h2 class="title">Mini Preneurs</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">

    <img src="/images/mini_pren.jpg">
    
    <h3>New Franchise Opportunities</h3><br>
      <ol>
      <li>Business Service Franchise</li>
      <li>Education & Training Franchise</li>
      <li>Entertainment Franchise</li>
      <li>Fitness Center Franchise</li>
      <li>Food & Beverages Franchise</li>
      <li>Etc.</li>
      </ol>
      <p> with new business model</p>
    <p><a href="contact.jsp?service=Mini+Preneurs">Contact us</a> in case you need any help in Mini Preneurs.</p>
    
    
    
    <img src="http://i63.tinypic.com/1zzow0l.jpg"=150x150)
  </div>
</div>
