<div class="post">
  <h2 class="title">Register with us</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p>Please fill all your details and we will get in touch with you soon.</p>
    
    <form action="/signup" method="post">
      <table width="560px" border=0 cellspacing=10>
        <tr>
          <td width="250px">Name <span style="color:red">*</span></td>
          <td><input type="text" name="name" size=40 /></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><input type="text" name="address" size=40 /></td>
        </tr>
        <tr>
          <td>Contact Number <span style="color:red">*</span></td>
          <td><input type="text" name="phone_number" size=40 /></td>
        </tr>
        <tr>
          <td>Email Address <span style="color:red">*</span></td>
          <td><input type="text" name="email" size=40 /></td>
        </tr>
        <tr>
          <td>Education</td>
          <td><input type="text" name="education" size=40 /></td>
        </tr>
        <tr>
          <td>Current Status (Job or Business)</td>
          <td><input type="text" name="current_status" size=40 /></td>
        </tr>
        <tr>
          <td colspan="2"><%= recaptcha_tags %></td>
        </tr>
        <tr>
          <td colspan=2><br><input type="checkbox" /> Accept <a href="terms.html">Terms and Conditions</a></td>
        </tr>
        <tr>
          <td align=center colspan=2><input type="submit" value="Register" /></td>
        </tr>
        
      </table>
    </form>
    
  </div>
</div>