<div class="post">
  <h2 class="title">Services Offered</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p>At Surrya Life, We offer following services.</p>
    
    <table border=0 width="100%" cellpadding=0 cellspacing=0 class="service-table">
    <tr>
    <td width="50%">
      <h2><a href="/business_winner">Business-Winner</a></h2>
      <p>Business development training</p>  
    </td>
    <td>
      <h2><a href="/mini_preneurs">New Business Opportunities</a></h2>
      <p>Mini Preneurs</p>
    </td>
    </tr>
    
    <tr>
    <td width="50%">
      <h2><a href="/business_consulting">Business consulting</a></h2> 
    </td>
    <td>
      <h2><a href="/franchise">Franchise Development Consulting Services</a></h2>
    </td>
    </tr>
    </table>
    <!--ol>
      <!--li><a href="projects.html">Project Consultant</a></li>
      <li><a href="advertising.html">Advertising and Marketing solutions</a></li>
      <li><a href="brand_solgans.html">Help to create new brand name and Slogans for your product</a></li>
      <li><a href="contact.jsp?service=Ad+agency+and+sell+your+product+quickly">Ad agency and sell your product quickly</a></li>
      <!--li><a href="patent_reg.html">Patent and Trademark registration</a></li-->
      <!--li><b>Business-Winner only @ Rs. 6000/-</b><br>
        <p>Excellent online business development training.</p>
        <p><b>Benefits:</b></p>
        <ol>
        <li>Increase the sale of your product or service in market.</li>
        <li>Increase your product , service, Brand value in market.</li>
        <li>capture more market within a short period</li>
        <li>ready to face any strategy of big player</li>
        <li>how to develop leadership skill , marketing and advertising strategies.</li>
        <li>how to boost your economy.</li>
        <li>Increase percentage of profit ratio.</li>
        </ol>
      </li>
      <li>In India, New Business opportunities (Creative and Innovative). e.g. Secured transportation service</li>
      <li>Creative Ad marketing for your product or service.<br>
      Creativity and innovation plays an important role in your business. It changes your business style, world and mainly economy.
      <ol>
      <li>Article writing</li>
      <li>Jingle making</li>
      <li>Creative picture, Simple animation</li>
      <li>Creative concept</li>
      </ol>
      </li>
    </ol -->
  </div>
</div>
