<div class="post">
  <h2 class="title">Legal</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p>We are Authorized and Legal consulting services.</p>
  </div>
</div>
<div class="post">
  <h2 class="title">Terms and conditions</h2>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p>We are not responsible to fulfill any type of present and future losses.</p>
    <p>After confirmation of order or payment ,it will be not cancelled at any cost or refunded to you.</p>
    <p>Subject to Akola, Maharashtra, India  jurisdiction only.</p>
  </div>
</div>